<% if @name %>
<h1>Hi <%= @name %></h1>
<% end %>
<div>
  <form action="/named-cat">
    <div style='padding-top: 30px; padding-bottom: 30px'>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<div>
  <img style="border: 3px dashed red" src="http://bit.ly/1eze8aE">
</div>
